@import "tailwindcss";
@import "tw-animate-css";
@import "tailwindcss/preflight" @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }
}

@layer utilities {
  .container {
    @apply relative flex-1 overflow-y-auto px-[5%];
  }
  .sub-container {
    @apply mx-auto flex size-full flex-col py-10;
  }

  .header {
    @apply text-[32px] font-bold md:text-4xl;
  }

  .sub-header {
    @apply text-[18px] font-bold md:text-[24px] font-bold;
  }
  .side-img {
    @apply hidden h-full object-cover md:block;
  }

  .shad-error {
    @apply text-red-400;
  }
  .shad-input {
    @apply bg-[#1A1D21] placeholder:text-[#76828D] border-[#363A3D] h-11 focus-visible:ring-0 focus-visible:ring-offset-0;
  }

  .input-phone {
    @apply mt-2 h-11 rounded-md px-3 text-sm border bg-[#1A1D21] placeholder:text-[#76828D] border-[#363A3D];
  }

  .shad-primary-btn {
    @apply bg-green-500 text-white;
  }

  .radio-group {
    @apply flex h-full flex-1 items-center gap-2 rounded-md border border-dashed border-[#363A3D] bg-[#1A1D21] p-3;
  }
  .shad-select-trigger {
    @apply bg-[#1A1D21]  placeholder:text-[#76828D] border-[#363A3D] h-11 focus:ring-0 focus:ring-offset-0;
  }

  .shad-select-content {
    @apply bg-[#1A1D21] border-[#363A3D];
  }
  .shad-textArea {
    @apply bg-[#1A1D21] placeholder:text-[#76828D] border-[#363A3D] focus-visible:ring-0 focus-visible:ring-offset-0;
  }

  .file-upload {
    @apply text-xs font-normal flex cursor-pointer  flex-col items-center justify-center gap-3 rounded-md border border-dashed border-[#363A3D] bg-[#1A1D21] p-5;
  }

  .file-upload_label {
    @apply flex flex-col justify-center gap-2 text-center text-[#76828D];
  }

  .checkbox-label {
    @apply cursor-pointer text-sm font-medium text-[#ABB8C4] peer-disabled:cursor-not-allowed peer-disabled:opacity-70 md:leading-none;
  }
  .side-img {
    @apply hidden h-full object-cover md:block;
  }

  .shad-primary-btn {
    @apply bg-green-500 text-white;
  }

  .shad-danger-btn {
    @apply bg-red-700 text-white;
  }
  .success-img {
    @apply m-auto flex flex-1 flex-col items-center justify-between gap-10 py-5;
  }

  .copyright {
    @apply text-[12px] font-normal justify-items-end text-center text-[#76828D] xl:text-left;
  }
  .request-details {
    @apply flex w-full flex-col items-center gap-8 border-y-2 border-[#1A1D21] py-8 md:w-fit md:flex-row;
  }

  .shad-alert-dialog {
    @apply space-y-5 bg-[#1A1D21] border-[#363A3D] outline-none;
  }

  .shad-otp {
    @apply w-full flex justify-between;
  }

  .shad-otp-slot {
    @apply text-[36px] font-bold justify-center flex border border-[#363A3D] rounded-lg size-16 gap-4;
  }

  .admin-header {
    @apply sticky top-3 z-20 mx-3 flex items-center justify-between rounded-2xl bg-[#0D0F10] px-[5%] py-5 shadow-lg xl:px-12;
  }

  .admin-main {
    @apply flex flex-col items-center space-y-6 px-[5%] pb-12 xl:space-y-12 xl:px-12;
  }

  .admin-stat {
    @apply flex w-full flex-col justify-between gap-5 sm:flex-row xl:gap-10;
  }

  .stat-card {
    @apply flex flex-1 flex-col gap-6 rounded-2xl bg-cover p-6 shadow-lg;
  }

  /* ==== Status Badge */
  .status-badge {
    @apply flex w-fit items-center gap-2 rounded-full px-4 py-2;
  }

  .data-table {
    @apply z-10 w-full overflow-hidden rounded-lg border border-[#1A1D21] shadow-lg;
  }

  .table-actions {
    @apply flex w-full items-center justify-between space-x-2 p-4;
  }

   .shad-gray-btn {
    @apply border border-[#363A3D] cursor-pointer bg-[#1A1D21] text-white ;
  }

    .shad-table {
    @apply rounded-lg overflow-hidden ;
  }

  .shad-table-row-header {
    @apply border-b border-[#1A1D21] text-[#E8E9E9] hover:bg-transparent ;
  }

  .shad-table-row {
    @apply border-b border-[#1A1D21] text-[#E8E9E9] ;
  }

   .shad-dialog {
    @apply bg-[#1A1D21] border-[#363A3D] ;
  }

  .shad-dialog button {
    @apply focus:ring-0 focus:ring-offset-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0 ;
  }
}

.PhoneInputInput {
  outline: none;
  margin-left: 4px;
  background: #1a1d21;
  font-size: 14px;
  font-weight: 500;
}

.PhoneInputInput::placeholder {
  color: #1a1d21;
}

select.PhoneInputCountrySelect {
  background: #1a1d21;
  color: #76828d;
  border-radius: 5px;
}

#«Ribrnel7»-form-item {
  width: 100%;
}
#«R16brnel7»-form-item {
  width: 100%;
}
#«Rabrnel7»-form-item {
  width: 100%;
}
/* .react-datepicker-wrapper.date-picker {
  display: flex;
  align-items: center;
}

.react-datepicker,
.react-datepicker__time,
.react-datepicker__header,
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker-time__header {
  background-color: #1a1d21 ;
  border-color: #363a3d ;
  color: #abb8c4 ;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker-time__header {
  color: #ffffff ;
}

.react-datepicker__triangle {
  fill: #1a1d21 ;
  color: #1a1d21 ;
  stroke: #1a1d21 ;
}

.react-datepicker__time-list-item:hover {
  background-color: #363a3d ;
}

.react-datepicker__input-container input {
  background-color: #1a1d21 ;
  width: 100%;
  outline: none;
}

.react-datepicker__day--selected {
  background-color: #24ae7c ;
  color: #ffffff ;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: #24ae7c ;
}

.react-datepicker__time-container {
  border-left: 1px solid #363a3d ;
}

.react-datepicker__time-list-item {
  display: flex ;
  align-items: center ;
} */
