@import "tailwindcss";
@import "tw-animate-css";
@import "tailwindcss/preflight" @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }
}

@layer utilities {
  .container {
    @apply relative flex-1 overflow-y-auto px-[5%];
  }
  .sub-container {
    @apply mx-auto flex size-full flex-col py-10;
  }

  .sub-header {
    @apply text-[18px] font-bold md:text-[24px] font-bold;
  }
  .side-img {
    @apply hidden h-full object-cover md:block;
  }

  .shad-error {
    @apply text-red-400;
  }
  .shad-input {
    @apply bg-[#1A1D21] placeholder:text-[#76828D] border-[#363A3D] h-11 focus-visible:ring-0 focus-visible:ring-offset-0;
  }

  .input-phone {
    @apply mt-2 h-11 rounded-md px-3 text-sm border bg-[#1A1D21] placeholder:text-[#76828D] border-[#363A3D];
  }

  .shad-primary-btn {
    @apply bg-green-500 text-white;
  }

  .radio-group {
    @apply flex h-full flex-1 items-center gap-2 rounded-md border border-dashed border-[#363A3D] bg-[#1A1D21] p-3;
  }
}

.PhoneInputInput {
  outline: none;
  margin-left: 4px;
  background: #1a1d21;
  font-size: 14px;
  font-weight: 500;
}

.PhoneInputInput::placeholder {
  color: #1a1d21;
}

select.PhoneInputCountrySelect {
  background: #1a1d21;
  color: #76828d;
  border-radius: 5px;
}

